.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    display: none;
  }
  
  
  /* .follower-list {
  background-color: green;
  } */
  
  .follower-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.6rem;
    margin-bottom: 1rem;
   border-bottom: 0.06rem solid var(--second-color);
  }
  
  .follower-top h4 {
    margin: 0;
    font-size: 2rem;
    font-family: var(--poppins);
    font-weight: normal;
  }
  
  .follower-list .cancel-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2.5rem;
  color: var(--black);
  }
  .follower-list .search{
      width: 100%;
      height: 4vh;
      border-radius: 0.5rem;
      border: none;
      background-color: var(--second-color);
      padding-left: 1rem;
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
  }
  
  .search-container {
      position: relative;
    }
    
    .search-icon {
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
        cursor: pointer;
        color: var(--black); 
        font-size: 1.5rem;
      }
    
    
    
    
    
    
    .follower-list ul {
        list-style: none;
        padding: 0;
        margin: 0;
        max-height: 30vh; 
        overflow-y: auto;
      }
    .follower-list li{
        list-style-type: none;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        /* background-color: green; */
        margin-top: 1.5rem;
    }
    
    .follower-photo {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      margin-right: 1rem;
    }
   .follow-button {
        background-color: var(--second-color);
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 0.5rem;
        font-weight: 600;
        margin-left: auto;
      }