#articlelist
{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1.2rem;
}
#articlelist > h2
{
    font-family: var(--poppins);
    font-size: 2rem;
    font-weight: 500;
    align-self: flex-start;
    width: 10%;
}
#articlelist .list_wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#articlelist .list_wrapper h3
{
    font-family: var(--poppins);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
}
#articlelist span
{
    font-family: var(--poppins);
    font-weight: 300;
    font-size: 1.3rem;
}
#articlelist .list_wrapper > div
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
#articlelist .list_wrapper .link
{
    /* text-decoration: none; */
    color: var(--black);
}