.custom-modal .edit_profile_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
    padding: 3rem 0rem;
}
.custom-modal .edit_profile_form label{
    font-family: var(--lato);
    font-size: 2rem;
    background-color: #3498db;
    color: #fff; 
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
.custom-modal .edit_profile_form h2{
    font-size: 2rem;
    font-family: var(--roboto);
    font-weight: normal;
    text-transform: capitalize;
    color: var(--white);
}
.custom-modal .edit_profile_form button{
    padding: 0.8rem 2rem;
    outline: none;
    border: none;
    border-radius: 0.3rem;
    background-color: var(--second-color);
    cursor: pointer;
}
.custom-modal .edit_profile_form input{
    width: 60%;
    height: 5rem;
    padding: 0.2rem 1rem;
    border: none;
}
.custom-modal .edit_profile_form input[type="file"]{
    display: none;
}
.custom-modal .profile_edit_img{
    width: 30rem;
    height: 10rem;
    object-fit: contain;
}
.custom-modal{
    padding-top: 4rem;
    width: 30%;
    /* height: 60vh; */
    margin: 20% auto;
    background: var(--first-color);
}